<!--footer sitemap-->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8" style="margin-top: 25px;margin-bottom: 20px;">
				<span>COPYRIGHT(C) 2012~ KISTI ALL RIGHTS RESERVED. </span>
				<span><a href = "$privateInfoURL" style="cursor:pointer;" target="_self">$infomation_text</a></span>
				<span>E-mail. $propsUtil.get("admin.email.from.address") </span>
			</div>
			<div class="col-md-4" style="margin-top: 20px;margin-bottom: 20px;">
				<a href="http://www.msip.go.kr/" target="_blank"><img src="$images_folder/custom/footer/fbanner01.gif" rel="noopener noreferrer" width="106px" height="30px"/></a>
				<a href="http://www.nrf.re.kr/" target="_blank"><img src="$images_folder/custom/footer/fbanner02.gif" rel="noopener noreferrer" width="79px" height="30px"/></a>
				<a href="http://www.kisti.re.kr/" target="_blank"><img src="$images_folder/custom/footer/fbanner03.gif" rel="noopener noreferrer" width="117px" height="30px"/>
			</div>
		</div>
	</div>
</div>


