#*
This file allows you to override and define new Velocity variables.
*#
#if($themeDisplay.getLanguageId()=="en_US")
	#set ($infomation_text="Privacy Policy")
	#set ($search_keyword="type keyword(s) here")
#else
	#set ($infomation_text="개인정보처리방침")
	#set ($search_keyword="검색어를 입력 하세요")
#end

#if($permissionChecker.isOmniadmin()||$permissionChecker.isGroupAdmin($group_id))
	#set ($dock_show=true)
#else
	#set ($dock_show=false)
#end

#if ($is_signed_in)
	#foreach($role in $user.getRoles())
		#if($role.getName() == "Temp User")
			#set ($temp_user =true)
		#end
	#end
#else
		
#end

#set($groups=[])
#set($siteGroups=[])
#set($groupLocalService= $serviceLocator.findService("com.liferay.portal.service.GroupLocalService"))
#set($parentGroupId = $themeDisplay.getScopeGroup().getParentGroupId())
#if ($parentGroupId != 0)
	#set($edisongroup=$themeDisplay.getScopeGroup().getParentGroup())
	#set($groups=$groupLocalService.getGroups($themeDisplay.getCompanyId(),$parentGroupId,true))
#else
	#set($edisongroup=$themeDisplay.getScopeGroup())
	#set($groups=$groupLocalService.getGroups($themeDisplay.getCompanyId(),$themeDisplay.getScopeGroupId(),true))
#end


#foreach ($site in $groups)
	#if($site.active && $site.type==1)
		#set($siteName = $getterUtil.get($site.getExpandoBridge().getAttribute("SiteName").get($locale), $site.name))
		#if($siteName=="")
			#set($siteName = $site.name)
		#end
		#set($siteGroup = $siteGroups.add({"siteName" :$siteName,"url" :$site.friendlyURL,"groupId" :$site.groupId}))
	#end
#end



#set($availableLocales = $languageUtil.getAvailableLocales())
#set($selectedLanguageIds=[])
#foreach( $availableLocale in $availableLocales )
    #if($locale != $availableLocale) 
        #set($VOID = $selectedLanguageIds.add($availableLocale))
    #end
#end


#set ($browserErrorMsg = $languageUtil.format($locale, "edison-browser-not-support",""))
#set ($browserErrorCompMsg = $languageUtil.format($locale, "edison-browser-not-support-compatibility",""))


#set($privateInfoURL=$company_url+"/-/privateinfopolicy/view")
#set($termOfUseURL=$company_url+"/-/termsofuse/view")


#set($isBreadcrumb = $getterUtil.getBoolean($themeDisplay.getLayout().getExpandoBridge().getAttribute("IS_SHOW_BREADCRUMB"),false))

#set ($layoutService = $serviceLocator.findService('com.liferay.portal.service.LayoutLocalService'))
#set($searchPlid = $layoutService.getFriendlyURLLayout($themeDisplay.getScopeGroupId(), false, "/search").getPlid())
#set($searchURL = $portletURLFactory.create($request,"edisonsearch_WAR_edisonsearch2017portlet",$searchPlid,"RENDER_PHASE"))
